<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/admin-layout :: layout (~{::title}, ~{::body})">
    <head>
        <title th:text="${firedepartment.friendlyName}"></title>
    </head>
    <body>
        <section>
            <h1 th:text="${firedepartment.friendlyName}"></h1>

            <div class="details">
                <div class="detail-item">
                    <h5>Feuerwehr UUID:</h5>
                    <span th:text="${firedepartment.uuid}"></span>
                </div>
                <div class="detail-item">
                    <h5>Cross System identification Name:</h5>
                    <span th:text="${firedepartment.name}"></span>
                </div>
            </div>

            <form method="POST" enctype="multipart/form-data" th:action="@{./dashboard/firedepartment/{uuid}(uuid=${firedepartment.uuid})}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <h3>Generell</h3>
                <div class="box">
                    <div class="form-group">
                        <label for="friendlyName">Display Name:</label>
                        <input type="text" id="friendlyName" name="friendlyName" th:value="${firedepartment.friendlyName}" required>
                    </div>
                    <div class="form-group">
                        <label for="atFireDepartmentId">Feuerwehr ID:</label>
                        <input type="text" id="atFireDepartmentId" name="atFireDepartmentId" th:value="${firedepartment.atFireDepartmentId}">
                    </div>
                    <div class="form-group checkvalue">
                        <label for="isVolunteer">Ist Freiwillige Feuerwehr:</label>
                        <input type="checkbox" id="isVolunteer" name="isVolunteer" th:checked="${firedepartment.isVolunteer}">
                    </div>
                </div>

                <h3>Adresse</h3>
                <div class="box">
                    <div class="form-group">
                        <label for="addressStreet">Straße:</label>
                        <input type="text" id="addressStreet" name="addressStreet" th:value="${firedepartment.addressStreet}">
                    </div>
                    <div class="form-group">
                        <label for="addressCity">Ort:</label>
                        <input type="text" id="addressCity" name="addressCity" th:value="${firedepartment.addressCity}">
                    </div>
                    <div class="form-group">
                        <label for="addressZipcode">PLZ:</label>
                        <input type="text" id="addressZipcode" name="addressZipcode" th:value="${firedepartment.addressZipcode}">
                    </div>
                    <div class="form-group">
                        <label for="addressFederalState">Bundesland:</label>
                        <select id="addressFederalState" name="addressFederalState">
                            <option value="" th:selected="${firedepartment.addressFederalState == ''}"></option>
                            <option value="Lower Austria" th:selected="${firedepartment.addressFederalState == 'Lower Austria'}">Niederösterreich</option>
                            <option value="Upper Austria" th:selected="${firedepartment.addressFederalState == 'Upper Austria'}">Oberösterreich</option>
                            <option value="Burgenland" th:selected="${firedepartment.addressFederalState == 'Burgenland'}">Burgenland</option>
                            <option value="Styria" th:selected="${firedepartment.addressFederalState == 'Styria'}">Steiermark</option>
                            <option value="Tyrol" th:selected="${firedepartment.addressFederalState == 'Tyrol'}">Tirol</option>
                            <option value="Salzburg" th:selected="${firedepartment.addressFederalState == 'Salzburg'}">Salzburg</option>
                            <option value="Carinthia" th:selected="${firedepartment.addressFederalState == 'Carinthia'}">Kärnten</option>
                            <option value="Vorarlberg" th:selected="${firedepartment.addressFederalState == 'Vorarlberg'}">Vorarlberg</option>
                            <option value="Vienna" th:selected="${firedepartment.addressFederalState == 'Vienna'}">Wien</option>
                        </select>

                    </div>

                </div>

                <h3>Kontakt</h3>
                <div class="box" style="width: 100%;">
                    <div class="form-group" style="width: 100%;">
                        <table class="links">
                            <tr>
                                <th style="width: 20%">Type</th>
                                <th style="width: 50%">Url</th>
                                <th style="width: 30%">Name / Tag</th>
                            </tr>
                            <tr th:each="item, iterStat : ${links}">
                                <input type="hidden" th:name="|links[${iterStat.index}].id|" th:value="${item.id}" />
                                <td>
                                    <select th:name="|links[${iterStat.index}].type|">
                                        <option value="" th:selected="${item.type == null or item.type == ''}">Nicht Definiert</option>
                                        <option value="website" th:selected="${item.type == 'website'}">Website</option>
                                        <option value="instagram" th:selected="${item.type == 'instagram'}">Instagram</option>
                                        <option value="facebook" th:selected="${item.type == 'facebook'}">Facebook</option>
                                        <option value="flickr" th:selected="${item.type == 'flickr'}">Flickr</option>
                                        <option value="tiktok" th:selected="${item.type == 'tiktok'}">TikTok</option>
                                        <option value="x" th:selected="${item.type == 'x'}">X</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="url" th:name="|links[${iterStat.index}].url|" th:value="${item.url}" placeholder="https://ff-feuerdorf.at" />
                                </td>
                                <td>
                                    <input type="text" th:name="|links[${iterStat.index}].name|" th:value="${item.name}" placeholder="ff_feuerdorf" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        <p class="disclaimer">Website mit https:// am Anfang, Name bzw. Tag ist für z.b. den Instagram Username, oder Facebook username, wenn als type z.b. Instagram ausgewählt ist ist es nicht zwingend notwendig eine URL hinzuzufügen wenn der Name / Tag gesetzt ist. Dann wird die URL Automatisch generiert. Den Tag / Name ohne @ angeben.</p>
                    </div>
                </div>

                <h3>Bilder</h3>
                <div class="box vertical">
                    <div class="form-group file">
                        <label for="logo">Logo:</label>
                        <label class="preview logo" for="logo" style="width: 12rem; height: 12rem;">
                            <img th:src="${logoUrl}" th:classappend="${logoUrl == null} ? 'disabled' : ''">
                            <p th:classappend="${logoUrl == null} ? '' : 'disabled'">Kein Logo Vorhanden</p>
                        </label>

                        <div class="input" style="width: 12rem;">
                            <input type="file" id="logo" name="logo" accept="image/*">

                            <div class="checkbox">
                                <input type="checkbox" name="logoDelete" id="logoDelete" class="delete">
                                <label for="logoDelete">Logo löschen</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group file">
                        <label for="banner">Banner:</label>
                        <label class="preview banner" for="banner" style="width: 36rem; height: 12rem;">
                            <img th:src="${bannerUrl}" th:classappend="${bannerUrl == null} ? 'disabled' : ''">
                            <p th:classappend="${bannerUrl == null} ? '' : 'disabled'">Kein Banner Vorhanden</p>
                        </label>

                        <div class="input" style="width: 36rem;">
                            <input type="file" id="banner" name="banner" accept="image/*">

                            <div class="checkbox">
                                <input type="checkbox" name="bannerDelete" id="bannerDelete" class="delete">
                                <label for="bannerDelete">Banner löschen</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Sonstiges</h3>
                <div class="box">
                    <div class="form-group checkvalue">
                        <label for="isWrongAssignment">Als Einheit zuweisen:</label>
                        <input type="checkbox" name="isWrongAssignment" id="isWrongAssignment">
                    </div>

                    <div class="form-group">
                        <p class="disclaimer">Manchmal passiert es das der Crawler eine Einheit (Fahrzeug,...) als Feuerwehr zuweist. Bei auswahl dieser Funktion wird die Feuerwehr als Einheit umgewandelt und verliert alle nicht relevanten Eigenschaften.</p>
                    </div>

                <div class="btns">
                    <a th:href="@{./dashboard/firedepartment}">Abbrechen</a>
                    <button type="submit" class="primary">Speichern</button>
                </div>

            </form>
        </section>
        <link rel="stylesheet" th:href="@{/css/firedepartment-details.css}">
    </body>
</html>